#carouselExampleSlidesOnly img {
	object-fit: cover;
}

.signin-div{
	height: 100%;
	display: flex;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}

.form-signin {
  max-width: 530px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

form li, .helptext {
    display: none;
}

.errorlist li {
    display: block;
    color: red;
}

.dropdwn-menu button {
  padding: 0;
  border: none;
  background: none;
}

.drpdwn-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 5px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.drpdwn-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  /* text-decoration: none; */
  display: block;
  text-align: left;
}

.drpdwn-content a:hover {
  color: blue;
}

/* Show the dropdown menu on hover */
.dropdwn-menu:hover .drpdwn-content {
  display: block;
}

.song-list {
  display:block;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

a.song-list:hover {
  color: blue;
}