{% load static %}
<audio src="" id="audio"></audio>
<div class="msc-panel-wrapper text-center">
    <div class="msc-panel row">
        <div class="msc-banner col-1">
            <img src="{% static 'IMG/dflt-msc-icon.png' %}" alt="music-banner">
        </div>
        <div class="msc-name col">
            <p class="align-bottom">Mere to Giridhar Gopal -by Meera Bai</p>
            <div class="msc-timer">
              <input type="range" value="0" class="seek-bar">
              <br>
              <span class="current-time">00:00</span>
              <span class="song-duration">00:00</span>
            </div>
        </div>
        <div class="msc-buttons col-3">
          <button class="fb-btn forward">
            <span></span>
          </button>
          <button class="play-button pause">
            <span></span>
            <span></span>
          </button>
          <button class="fb-btn backward">
            <span></span>
          </button>
        </div>
    </div>
</div>