{% include 'navbar.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sargam: Listen Originals</title>
    <link rel="stylesheet" href="{% static 'CSS/base.css' %}">
</head>

<body style="background: silver;">
    {% block content %}
    {% endblock %}
    <section class="footer">
        <footer>
            <div>Sargam: Listen Originals</div>
            <div class="copyright">All rights reserved.</div>
        </footer>
    </section>
</body>

</html>