{% extends 'base.html' %}
{% load static %}

<!-- <head class="home"> -->
    <link rel="stylesheet" href="{% static 'CSS/home.css' %}">
<!-- </head> -->

{% block content %}

<section class="heading">
    <h1 style="color:red;">This is our home page</h1>
</section>
<section class="my-first-music">
    <p>I going to try to add a music here. And we will see if it works.</p>

    <audio src="{% static 'Songs/HanumanChalisa.mp3' %}" preload="metadata" muted controls>Error: your web browser does not support this audio
        player.</audio>

    <p>Now I am going to try to add a video file here and play it. Let's see if it's get successful.</p>

    <video width="320" height="240" preload="metadata" muted controls>
        <source src="{% static 'Video/SojugadaSoojuLordShiva.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <p>Adding another video.</p>

    <video width="320" height="240" preload="metadata" muted controls>
        <source src="{% static 'Video/RukJanaNahin.mkv' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>

</section>

{% endblock %}