{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="{% static 'IMG/banner-1.jpg' %}" class="d-block w-100" alt="banner-1">
		</div>
		<div class="carousel-item">
			<img src="{% static 'IMG/banner-2.jpg' %}" class="d-block w-100" alt="banner-2">
		</div>
	</div>
</div>
<div class="container">
	<div style="padding:250px 0 200px 0">
		<h2 class="text-center"><b>About Us</b></h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
	<div style="padding:200px 0 250px 0">
		<h2 class="text-center"><b>Community</b></h2>
		<h3 class="text-center">Come, Join Our Community! Join The Source of Creativity!</h3>
	</div>
</div>

{% endblock %}















<!-- <section class="heading">
    <h1 style="color:red;">This is our home page</h1>
</section>
<section class="my-first-music">
    <p>I am going to try to add a music here. And we will see if it works.</p>

    <audio src="{% static 'Music/Chalo_Manne.mp3' %}" preload="metadata" muted controls>Error: your web browser does not support this audio
        player.</audio>

    <p>Now I am going to try to add a video file here and play it. Let's see if it's get successful.</p>

    <video width="320" height="240" preload="metadata" muted controls>
        <source src="{% static 'Video/SojugadaSoojuLordShiva.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <p>Adding another video.</p>

    <video width="320" height="240" preload="metadata" muted controls>
        <source src="{% static 'Video/RukJanaNahin.mkv' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>

</section> -->