{% load static %}

<head class="nav">
    <link rel="stylesheet" href="{% static 'CSS/navbar.css' %}">
</head>
<center>
    <section class="navbar">
        <!-- Menu bar -->
        <nav>
            <div class="menu-bar">
                <span><a href="#" class="home-page">Home</a></span>
                <span><a href="#" class="about-page">About</a></span>
                <span><a href="#" class="contact-page">Contact</a></span>
                <span><a href="#" class="community-page">Community</a></span>
            </div>
        </nav>
    </section>
</center>