{% load static %}

<div class="home-content">
    <div class="text-center pt-2 pb-4 mt-4 mb-2">
        <h1 class="h2"><b>Sargam Player</b></h1>
    </div>

    {% if username in verifiedUsers %}

    <div class="metadata-container">
        <div id="cover"></div>
        <div class="metadata-info">
            <div class="song-info">
                <h3 class="title" style="font-family: sans-serif;"><b>Title</b></h3>
                <label class="artist">Artist</label>
                <h4 class="album"><b>Album</b></h4>
            </div>

            <div class="upload-song">
                <label for="upload"><b>Upload Song</b></label>
                <input type="file" id="upload" accept=".mp3, .wav">
            </div>
        </div>
    </div>

    {% else %}
    <div class="text-center" style="color:red">
        <p class="h3">Site still in development</p>
        <p class="lead">You are not yet authorised to see the music/songs and related backend/frontend developments.</p>
        <p class="lead">But don't worry! Either you can contact admin or You can wait until the next release.</p>
    </div>
    {% endif %}
</div>