<form class="d-flex pt-4 pb-4" role="search">
	<input class="form-control me-2" type="search" placeholder="Search Songs, Albums, etc" aria-label="Search">
	<button class="btn btn-outline-success" type="submit">Search</button>
</form>

<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <a href="/billing/workbilling/billing/">Billing</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'logged_out' %}">Logout</a>
    </li>
    <li class="list-group-item">A third item</li>
  </ul>
</div>





<!-- <div class="container-fluid">
	<form class="d-flex border-bottom border-primary pb-4" role="search">
		<input class="form-control me-2" type="search" placeholder="Search Songs, Albums, etc" aria-label="Search">
		<button class="btn btn-outline-success" type="submit">Search</button>
	</form>
	<div class="d-grid gap-2 mt-2">
		<a href="#" class="btn btn-outline-primary border-bottom border-primary pb-4 pt-4" type="button" style="border:none;">Trending</a>
		<a class="btn btn-outline-primary border-bottom border-primary pb-4 pt-4" type="button"  style="border:none;">Liked Songs</a>
		<a class="btn btn-outline-primary border-bottom border-primary pb-4 pt-4" type="button"  style="border:none;">Personalize</a>
		<a class="btn btn-outline-primary border-bottom border-primary pb-4 pt-4" type="button"  style="border:none;">Features</a>
	</div>
</div> -->