<form class="d-flex pt-4 pb-4" role="search">
	<input class="form-control me-2" type="search" placeholder="Search Songs, Albums, etc" aria-label="Search">
	<button class="btn btn-outline-success" type="submit">Search</button>
</form>

<div class="card song-lis" style="width: 18rem;overflow-y:scroll;max-height: 400px;">
  <ul class="list-group list-group-flush">
	{% for songs in musicData %}
	<li class="list-group-item">
        <a class="song-list" >{{songs.name}}</a>
		<div class="song-path" style="display:none">{{songs.path}}</div>
    </li>
	{% endfor %}
  </ul>
</div>
